<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Instalacao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <h1>Instalação</h1>
 <h2>Ferramentas</h2>
 <ul>
   <li>Instalar NodeJS</li>
   <li>Ferramentas</li>
   <ul>
     <li>Visual Studio</li>
     <li>Atom</li>
     <li>Sublime</li>
     <li>Etc</li>
   </ul>
 </ul>
 
 <h2>Criando o projeto</h2>
 Para criar o projeto é bem simples, vamos utilizar o comando abaixo <br>
 <b>ionic start NomeDoSeuApp tabs --type=angular</b>
 <br><br>
 Logo em seguida digita o seguinte comando no prompet
 <br>
 <b>cd NomeDoSeuApp</b>
 <b>code .</b>
 <br>
 Code irá abrir o visual studio code na pasta do projeto<br><br>

 Um ptojeto será criado com uma estrutura semelhante a esta <br>
 <img ser="assets/instalacao.png">
 <br><br>

 <h2>Rodadndo o projeto</h2>
 Para rodar o projeto, digite no prompet de comando<br>
 <b>ionic serve</b>
</ion-content>
