<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Botao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button>Default</ion-button>

  <ion-button href="http://google.com">Link</ion-button>

  <ion-button href="/componentes" goBack>Back</ion-button>

  <ion-button color="primary">Primary</ion-button>

  <ion-button color="secondary">Secondary</ion-button>

  <ion-button color="tertiary">Tertiary</ion-button>

  <ion-button color="success">Sucesso</ion-button>

  <ion-button color="warn">Warning</ion-button>

  <ion-button color="danger">Danger</ion-button>

  <ion-button color="light">Light</ion-button>

  <ion-button color="medium">Medium</ion-button>

  <ion-button color="dark">Dark</ion-button>

  <!-- TAMANHOS -->
  <ion-button expand="full">Full Button</ion-button>

  <ion-button expand="block">Block Button</ion-button>

  <ion-button shape="round">Round Button</ion-button>

  <!-- Combinados -->
  <ion-button expand="full" fill="outline">Full Button + outline</ion-button>  
  <ion-button expand="block" fill="outline">Outline + Block</ion-button>
  <ion-button shape="round" fill="outline">Outline + Round</ion-button>

  <!-- ICONES-->
  <ion-button color="danger">
    <ion-icon name="star" slot="start"></ion-icon>
    Danger
  </ion-button>

  <ion-button color="danger">
    <ion-icon name="star" slot="end"></ion-icon>
    Danger
  </ion-button>

  <ion-button color="danger">
    <ion-icon name="star" slot="icon-only"></ion-icon>   
  </ion-button>

  <ion-button color="danger">
    <ion-icon name="star"></ion-icon>   
  </ion-button>

  <!-- TAMANHOS -->
  <ion-button color="dark" size="small">Pequeno</ion-button>
  <ion-button color="dark">Default</ion-button>
  <ion-button color="dark" size="large">Grande</ion-button>

</ion-content>
