<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <img src="/assets/254.jpg" >
    <ion-card-content>
      <ion-card-title>Ricardo</ion-card-title>
      <p>Ricardo esperando reunião por volta das 18:30 hrs</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Vagas de emprego</ion-card-subtitle>
      <ion-card-title>Ionic</ion-card-title>
    </ion-card-header>
    <ion-cad-content >
      Precisamos de desenvolvedores que atuem na platafoema ionic
    </ion-cad-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 .activated</ion-label>
    </ion-item>

    <ion-item href="#" >
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>

    <ion-item href="#" class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Link Item 4 .activated</ion-label>
    </ion-item>

    <ion-item href="#" >
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card-subtitle>Com thema danger</ion-card-subtitle>
      <ion-card-title>Ionic</ion-card-title>
    </ion-card-header>
    <ion-cad-content >
      Precisamos de desenvolvedores que atuem na platafoema ionic
    </ion-cad-content>
  </ion-card>

  <ion-card color="secondary" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Modelo IOS</ion-card-subtitle>
      <ion-card-title>Ionic</ion-card-title>
    </ion-card-header>
    <ion-cad-content >
      Precisamos de desenvolvedores que atuem na platafoema ionic
    </ion-cad-content>
  </ion-card>

  <ion-card color="success" mode="md">
    <ion-card-header>
      <ion-card-subtitle>Modelo Android</ion-card-subtitle>
      <ion-card-title>Ionic</ion-card-title>
    </ion-card-header>
    <ion-cad-content >
      Precisamos de desenvolvedores que atuem na platafoema ionic
    </ion-cad-content>
  </ion-card>

</ion-content>
