<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Layout - Css Utilities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h3>ion-text-start</h3>
          Neste curso você irá aprender cada componente que o Ionici oferece.
          Fazendo este treinamento cmpleto você poderá obter renda extra com 
          desenvolvimento de aplicativos móveis e web.
        </div>
      </ion-col>
      
      <ion-col>
        <div class="ion-text-end">
          <h3>ion-text-end</h3>
          Neste curso você irá aprender cada componente que o Ionici oferece.
          Fazendo este treinamento cmpleto você poderá obter renda extra com 
          desenvolvimento de aplicativos móveis e web.
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>ion-text-justify</h3>
          Neste curso você irá aprender cada componente que o Ionici oferece.
          Fazendo este treinamento cmpleto você poderá obter renda extra com 
          desenvolvimento de aplicativos móveis e web.
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-nowrap">
          <h3>ion-text-nowrap</h3>
          Neste curso você irá aprender cada componente que o Ionici oferece.
          Fazendo este treinamento cmpleto você poderá obter renda extra com 
          desenvolvimento de aplicativos móveis e web.
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-wrap" >
          <h3>ion-text-wrap</h3>
          Neste curso você irá aprender cada componente que o Ionici oferece.
          Fazendo este treinamento cmpleto você poderá obter renda extra com 
          desenvolvimento de aplicativos móveis e web.
        </div>
      </ion-col>

      <ion-col>
        <div class="ion-text-center">
          <h3>ion-text-nowrap</h3>
          Neste curso você irá aprender cada componente que o Ionici oferece.
          Fazendo este treinamento cmpleto você poderá obter renda extra com 
          desenvolvimento de aplicativos móveis e web.
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Gtid 2 -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-uppercase">
          <h3>ion-text-uppercase</h3>
          Neste curso você irá aprender cada componente que o Ionici oferece.
          Fazendo este treinamento cmpleto você poderá obter renda extra com 
          desenvolvimento de aplicativos móveis e web.
        </div>
      </ion-col>
      
      <ion-col>
        <div class="ion-text-lowercase" >
          <h3>ion-text-lowercase</h3>
          Neste curso você irá aprender cada componente que o Ionici oferece.
          Fazendo este treinamento cmpleto você poderá obter renda extra com 
          desenvolvimento de aplicativos móveis e web.
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-capitalize">
          <h3>ion-text-capitalize</h3>
          Neste curso você irá aprender cada componente que o Ionici oferece.
          Fazendo este treinamento cmpleto você poderá obter renda extra com 
          desenvolvimento de aplicativos móveis e web.
        </div>
      </ion-col>      
    </ion-row>
  </ion-grid>

  <div class="ion-text-sm-center  ion-text-ms-left  ion-text-lg-end  ion-text-xl-uppercase" >
    <h3>Trabalhando com responsividade</h3>
  </div>

  <!-- **************************************** -->
  <h3>Trabalhando com padding</h3>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <div>
          padding
        </div>
      </ion-col>
      <ion-col class="ion-padding-top">
        <div>
          padding-top
        </div>
      </ion-col>
      <ion-col class="ion-padding-start">
        <div>
          padding-start
        </div>
      </ion-col>
      <ion-col class="ion-padding-end">
        <div>
          padding-end
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-bottom">
        <div>
          padding-bottom
        </div>
      </ion-col>
      <ion-col class="ion-padding-vertical">
        <div>
          padding-vertical
        </div>
      </ion-col>
      <ion-col class="ion-padding-horizontal">
        <div>
          padding-horizontal
        </div>
      </ion-col>
      <ion-col class="ion-no-padding">
        <div>
          no-padding
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3>Trabalhando com margem</h3>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin">
        <div>
          margin
        </div>
      </ion-col>
      <ion-col class="ion-margin-top">
        <div>
          margin-top
        </div>
      </ion-col>
      <ion-col class="ion-margin-start">
        <div>
          margin-start
        </div>
      </ion-col>
      <ion-col class="ion-margin-end">
        <div>
          margin-end
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin-bottom">
        <div>
          margin-bottom
        </div>
      </ion-col>
      <ion-col class="ion-margin-vertical">
        <div>
          margin-vertical
        </div>
      </ion-col>
      <ion-col class="ion-margin-horizontal">
        <div>
          margin-horizontal
        </div>
      </ion-col>
      <ion-col class="ion-no-margin">
        <div>
          no-margin
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
