<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--Default-->
  <ion-input></ion-input>

  <!-- Com valor-->
  <ion-input value="1234"></ion-input>

  <!-- Com placeholder-->
  <ion-input type="text" placeholder="Informe seu nome"></ion-input>

  <!-- Com icon de de limpar-->
  <ion-input clearInput value="curso ionic"></ion-input>

  <!-- Com valor numerico-->
  <ion-input type="number" value="1234"></ion-input>

  <!-- Com valor email-->
  <ion-input type="email" placeholder="Informe seu e-mail"></ion-input>

  <!-- Com valor telefone-->
  <ion-input type="tel" placeholder="Informe seu telefone"></ion-input>

  <!-- Com valor url-->
  <ion-input type="url" placeholder="Informe a url"></ion-input>

  <!-- Com valor search-->
  <ion-input type="search" placeholder="search"></ion-input>  

  <!-- Inputs with labels -->
  <ion-item>
    <ion-label>Default Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Fixed Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Stacked Label</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
